body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 162, 0);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(111, 195, 241);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color:white ;
}

form button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:green;
}

.expense-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.expense-table th, .expense-table td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

.expense-table th {
    background-color: rgb(235, 225, 225);
}

.total-amount {
    text-align: right;;
    font-size: 18px;
}

.filter {
    margin-bottom: 20px;
    text-align: right;
}

.filter label {
    margin-right: 10px;
}